/* footer.css */

/* Pre-footer */
.pre-footer {
    background-color: #ffffff; /* White background */
    color: #000000; /* Black text */
    font-weight: bold;
    border-top: 1px solid #ccc; /* Add border to the top */
}

/* footer.css */

/* Footer */
.footer {
    background-color: #f2f2f2; /* Light gray background */
    color: #000000; /* Black text */
}

.footer a {
    color: #000000; /* Black links */
    text-decoration: none;
    transition: color 0.2s;
}

.footer a:hover {
    color: #333333; /* Darker on hover */
}

.footer .btn-floating {
    background-color: #495057; /* Darker background for icons */
}

.footer .btn-floating:hover {
    background-color: #6c757d; /* Lighter background on hover */
}
